.about {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    padding: 50px 0;
}
.about img{
    border: solid 1px var(--border);
    
}

.about-content{
    margin-left: 15px
}

.about-content h2{
    font-size: 45px;
    color: var(--title);
}
.about-content p{
    margin: 30px 0;
    font-size: 18px;
    color: var(--subtitle);
    font-weight: 400;
    line-height: 26px;
}

.about-content button{
    padding: 12px;
    border: solid 1px var(--blue);
    border-radius: 6px;
    margin-right: 20px;
    transition: 1s;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    color: var(--title);
    letter-spacing: 0.1rem
    
}
.about-content button.downl{
    background-color: var(--title);
    color: var(--bgHeader)

}

.about-content button:hover{
    background-color: var(--blue);
    color: var(--title)
}
.about-content button.conta{

}

@media(max-width: 700px){
    .about{
        display: block;
        margin: 0;
        padding: 0;
        text-align: center
    }
    .about img{
        width: 100%;
        border: none;
    }
    .about-content{
        margin-left: 0;
    }

}