.Hero{
    position: relative;
    padding-top: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60vh;
    
}

.Hero img{
    border: solid 1px rgba(244,165,96,0.249);
    transition : 0.2s;
    width: 160px;
    height: 160px;
    border-radius: 100%;   
}
.Hero img:hover{
    transform: scale(1.1);
    border: solid 1px rgb(244,165,96);

}



.herocontent span{
    top: 182px;
    margin-left: 25px;
    position: absolute;
    font-size: 20px;
    font-weight: 100;
    color: var(--subtitle);
    cursor: pointer
}

.herocontent span:hover{
    color: var(--title)
}

.herocontent h1 {
    background: linear-gradient(to right, white,rgb(76, 76, 76));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    margin-top: 40px;
    font-size: 65px;
}

.herocontent p{
    margin: 8px 0;
    font-style: italic;
    color: #858B95;
    transition : 1s;
}
.herocontent p:hover{
    transform: scale(1.2);  
}

.cursor{
    position: relative;
    width: 24em;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

       
}

.Hero .links{
    justify-content: center;
    margin: 13px 0;
    gap: 9px;
}
.Hero .links li a{
    color: var(--subtitle);
    font-size: 25px;
}
.Hero .links li a:hover{
    transform: scale(1.5);
    color: var(--blue);
    

}

/* Animation */

.icon-keyboard_arrow_up{
    font-size: 50px;
    transition : 1s;
}

.icon-keyboard_arrow_up:hover{
    transform: scale(1.5);
    color: var(--blue)
}

.top-animation {
    position: relative;
    transition : 3s;
    animation: topbottom 2s infinite normal; 
    rotate: 180deg;
}


@keyframes typewriter {
  from { width: 0; }
  to { width: 60%; }
}

@keyframes topbottom {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

@keyframes blinkingCursor{
  from { border-right-color: transparent }
  to { border-right-color: transparent; }
}


@media(max-width: 700px){
    .Hero{
        padding-top: 10px;
        height: 70vh;
    }
    .herocontent p:hover{
        transform: scale(1);  
    }

    .cursor{
        width: 30em;  
        white-space: wrap;
        overflow: auto;   
        height: 120px;
    }
    .herocontent h1{
        margin-top: 20px;
        font-size: 25px;
    }
    .herocontent p{
        margin-top: 10px;
        font-size: 10px;
    }
    .herocontent span{
        top: 200px;
        position: static;
        font-size: 20px;
        font-weight: 100;
        color: var(--subtitle)
    }
    

}