.Hero__container{
    display: flex;
    align-items: center;
}
.pers-img{
    width: 60%;
    height: 80vh;
    opacity: 0.9
}


.Hero__content{
    display: flex;
    flex-direction: column;
    gap: 20px
    
}


.Hero span{
    color: var(--subtitle);
    font-size: 1.5rem;
}
.Hero h1{
    color: rgb(177, 177, 230);
    font-size: 4.5rem;
    line-height: 4rem;  
    text-transform: uppercase;
}
.Hero p{
    color: var(--title);
    font-size: 1.3rem;
    max-width: 60ch;  
}
.Hero p span{
    color: var(--blue);
    font-size: 1.3rem;
}


.Hero .links{
    margin-top: 10px;
    gap: 12px;
}
.Hero .links li a{
    color: var(--title);
    font-size: 25px;
}
.Hero .links li a:hover{
    transform: scale(1.5);
    color: var(--blue);
    

}
.icon-keyboard_arrow_up{
    font-size: 50px;
    transition : 1s;
    color: white
}

a .icon-keyboard_arrow_up:hover{
    color: var(--blue)

}
.top-animation {
    display: inline-block;
    position: relative;
    transition : 3s;
    animation: topbottom 2s infinite normal; 
    rotate: 180deg;
    
}

/* Animation */
/* 
.icon-keyboard_arrow_up{
    font-size: 50px;
    transition : 1s;
}

a .icon-keyboard_arrow_up:hover{
    transform: scale(1.5);
    color: var(--blue)
}

.top-animation {
    display: inline-block;
    position: relative;
    transition : 3s;
    animation: topbottom 2s infinite normal; 
    rotate: 180deg;
    color: white;
}


@keyframes typewriter {
  from { width: 0; }
  to { width: 60%; }
}

@keyframes topbottom {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

@keyframes blinkingCursor{
  from { border-right-color: transparent }
  to { border-right-color: transparent; }
}*/


@media(max-width: 700px){
    .Hero__container{
        padding-top: 100px;
        margin: 0;
        background-image: url("../../../public/637.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 80vh;
        background-attachment: fixed;
    }
    .Hero h1{
    font-size: 1.8rem;
    line-height: 2rem; 
     
}
    .Hero p{
        font-size: 1rem;
    }
    .Hero p span{
        font-size: 1rem;
    }
    .Hero__content{
       
    }
    .pers-img{
        display: none;
    }
    .Hero ul{
        display: flex;
        justify-content: center
    }
    .container{
        width: 95%;
        margin: 0 auto;
        background-color: var(--secondary);
        border : solid 2px var(--border);
        padding: 0 2rem;
      }
    

} 