.Hero__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    margin-top: 1.2rem;
    
}

.Hero img{
    border: solid 1px rgb(177, 177, 230);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;   
    /* padding: 2px;
    box-shadow: inset 1px 1px 10px gray; */
}

.Hero span{
    color: var(--subtitle);
    font-size: 1.5rem;
}
.Hero h1{
    color: rgb(177, 177, 230);
    font-size: 4rem;
    max-width: 15ch;  
    line-height: 3.5rem;  
    text-transform: uppercase;
}
.Hero p{
    color: var(--title);
    font-size: 1.3rem;
    max-width: 60ch;  
}
.Hero p span{
    color: var(--blue);
    font-size: 1.3rem;
}


.Hero .links{
    justify-content: center;
    gap: 12px;
}
.Hero .links li a{
    color: var(--subtitle);
    font-size: 35px;
}
.Hero .links li a:hover{
    transform: scale(1.5);
    color: var(--blue);
    

}

/* Animation */

.icon-keyboard_arrow_up{
    font-size: 50px;
    transition : 1s;
}

a .icon-keyboard_arrow_up:hover{
    transform: scale(1.5);
    color: var(--blue)
}

.top-animation {
    display: inline-block;
    position: relative;
    transition : 3s;
    animation: topbottom 2s infinite normal; 
    rotate: 180deg;
    color: white;
}


@keyframes typewriter {
  from { width: 0; }
  to { width: 60%; }
}

@keyframes topbottom {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

@keyframes blinkingCursor{
  from { border-right-color: transparent }
  to { border-right-color: transparent; }
}


@media(max-width: 700px){
    .Hero h1{
    font-size: 1.8rem;
    line-height: 2rem;  
}
    .Hero p{
        font-size: 1rem;
    }
    .Hero p span{
        font-size: 1rem;
    }
    

}