

header.flex{
    padding: 0 2.4rem;
    justify-content: space-between;
    margin-top: 1.2rem;

}
header.flex nav{
    background-color: var(--bgHeader);
    padding: 0.77rem 1.6rem;
    border-radius: 55px;
    box-shadow: 1px 1px 40px black;
}
header ul.flex{
    gap: 16px;
}
header ul li a{
    color: var(--title);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 500;
}
header ul li a:hover{
    color: var(--blue);
    opacity: 1;
    font-size: 0.9rem;
}
header button{
    font-size: 1.2rem;
}
button.menu{
    display:none;
}
header .fixed{
    position: fixed;
    inset:0;
    z-index: 11;
    background-color: rgb(40,40,48,0.81)
}
header button.mode, header .icon-menu{
    background-color: var(--bgHeader);
    height: 2.4rem;
    width: 2.4rem;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: var(--subtitle);
    border: solid 1px rgba(244,165,96,0.249);
    transition : 0.2s;
}
header button.mode:hover, header .icon-menu:hover{
    color: var(--title);
    border: solid 1px rgb(244,165,96);
}
header .fixed ul.modal{
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: var(--secondary);
    padding : 1rem 2rem;
    animation : myHeader 0.7s 1;
}
header .fixed ul.modal li{
    padding-top: 0.5rem;
    padding-bottom: 0.77rem;
    border-bottom: solid 1px var(--border); 
}
header .fixed ul.modal li:last-child{
    border:none;
}
header .fixed ul.modal li:first-child{
    text-align: right;
    border: none;
    padding-top: 0.2rem;
    padding-bottom: 0;
}
header .icon-close{
    font-size: 1.5rem;
    color: var(--subtitle);
    transition: 0.3s
}
header .icon-close:hover{
    font-size: 1.7rem;
    color: crimson;
    rotate: 180deg;

}
header .fixed ul.modal li a{
    font-size: 1rem;
}


@keyframes myHeader{
    0% {scale: 0;}
    60% {scale: 1.2;}
    100% {scale: 1;}
}

@media(max-width: 700px){
    header.flex nav{display:none}
    button.menu{display:block}

}